@font-face {
    font-family: Manrope;
    src: url(https://cdn.shopify.com/s/files/1/0267/5189/3575/t/2/assets/manrope-extrabold.woff2) format("woff2"), url(https://cdn.shopify.com/s/files/1/0267/5189/3575/t/2/assets/manrope-extrabold.woff) format("woff"), url(https://cdn.shopify.com/s/files/1/0267/5189/3575/t/2/assets/manrope-extrabold.otf) format("truetype");
    font-style: normal;
    font-weight: 800
}

@font-face {
    font-family: Manrope;
    src: url(https://cdn.shopify.com/s/files/1/0267/5189/3575/t/2/assets/manrope-bold.woff2) format("woff2"), url(https://cdn.shopify.com/s/files/1/0267/5189/3575/t/2/assets/manrope-bold.woff) format("woff"), url(https://cdn.shopify.com/s/files/1/0267/5189/3575/t/2/assets/manrope-bold.otf) format("truetype");
    font-style: normal;
    font-weight: 700
}

@font-face {
    font-family: Manrope;
    src: url(https://cdn.shopify.com/s/files/1/0267/5189/3575/t/2/assets/manrope-semibold.woff2) format("woff2"), url(https://cdn.shopify.com/s/files/1/0267/5189/3575/t/2/assets/manrope-semibold.woff) format("woff"), url(https://cdn.shopify.com/s/files/1/0267/5189/3575/t/2/assets/manrope-semibold.otf) format("truetype");
    font-style: normal;
    font-weight: 600
}

@font-face {
    font-family: Manrope;
    src: url(https://cdn.shopify.com/s/files/1/0267/5189/3575/t/2/assets/manrope-medium.woff2) format("woff2"), url(https://cdn.shopify.com/s/files/1/0267/5189/3575/t/2/assets/manrope-medium.woff) format("woff"), url(https://cdn.shopify.com/s/files/1/0267/5189/3575/t/2/assets/manrope-medium.otf) format("truetype");
    font-style: normal;
    font-weight: 500
}

@font-face {
    font-family: Manrope;
    src: url(https://cdn.shopify.com/s/files/1/0267/5189/3575/t/2/assets/manrope-regular.woff2) format("woff2"), url(https://cdn.shopify.com/s/files/1/0267/5189/3575/t/2/assets/manrope-regular.woff) format("woff"), url(https://cdn.shopify.com/s/files/1/0267/5189/3575/t/2/assets/manrope-regular.otf) format("truetype");
    font-style: normal;
    font-weight: 400
}

@font-face {
    font-family: Manrope;
    src: url(https://cdn.shopify.com/s/files/1/0267/5189/3575/t/2/assets/manrope-light.woff2) format("woff2"), url(https://cdn.shopify.com/s/files/1/0267/5189/3575/t/2/assets/manrope-light.woff) format("woff"), url(https://cdn.shopify.com/s/files/1/0267/5189/3575/t/2/assets/manrope-light.otf) format("truetype");
    font-style: normal;
    font-weight: 300
}

@font-face {
    font-family: Manrope;
    src: url(https://cdn.shopify.com/s/files/1/0267/5189/3575/t/2/assets/manrope-thin.woff2) format("woff2"), url(https://cdn.shopify.com/s/files/1/0267/5189/3575/t/2/assets/manrope-thin.woff) format("woff"), url(https://cdn.shopify.com/s/files/1/0267/5189/3575/t/2/assets/manrope-thin.otf) format("truetype");
    font-style: normal;
    font-weight: 200
}
:root {
    --primary:#ffcc00;
    --primary-light:#ffdd00;
    --grey: #ccc;
    /* Font */
    --font: Manrope,sans-serif;

    /* Radius */
    --main-radius: 12px;
}
html, body {
    font-family: var(--font);
    background: #fff;
    color: #050505;
}
h1,h2,h3,h4,h5,h6,.h1,.h2,.h3,.h4,.h5,.h6 {
    font-family: var(--font);
    font-weight: 800;
}
a {
    color: var(--primary);
}
a:hover {
    color: var(--primary-light);
}
.btn {
    border: 2px solid transparent;
    border-radius: 0;
    font-family: var(--font);
    font-weight: 800;
    position: relative;
}
.btn-lg {
    padding: .5rem 1.5rem;
}
.btn::before {
    content: "";
    width: 5px;
    bottom: -6px;
    height: 100%;
    background: #444;
    position: absolute;
    right: -6px;
    transition: .2s ease-in-out;
}
.btn::after {
    content: "";
    width: 100%;
    bottom: -6px;
    height: 5px;
    background: #444;
    position: absolute;
    right: -6px;
    transition: .2s ease-in-out;
}
.btn:not(:hover)::after {
    height: 0;
    transform: translateY(-3px) translateX(-3px);
}
.btn:not(:hover)::before {
    width: 0;
    transform: translateY(-3px) translateX(-3px);
}
.btn-primary,.btn-primary:hover,.btn-primary:active {
    border-color: transparent;
    background: var(--primary);
    color: #050505;
}
.btn-outline-primary, .btn-outline-primary:hover, .btn-outline-primary:focus {
    border-color:var(--primary);
    color: var(--primary);
    background: transparent;
}
.btn-outline-primary::after, .btn-outline-primary::before {
    background: var(--primary);
}
.btn-outline-dark, .btn-outline-dark:hover, .btn-outline-dark:focus {
    border-color:#050505;
    color: #050505;
    background: transparent;
}
.btn-outline-dark::after, .btn-outline-dark::before {
    background: #050505;
}
.btn-outline-light, .btn-outline-light:hover, .btn-outline-light:focus {
    border-color:#fff;
    color: #fff;
    background: transparent;
}
.btn-outline-light::after, .btn-outline-light::before {
    background: #fff;
}
/* Background */
.bg-white {
    background: #fff;
}
.bg-grey {
    background: #f5f5f5;
}
.mt-sec {
    margin-top:calc(var(--padtop) + .5rem);
}
.card {
    box-shadow:none;
    border:none;
    background: transparent;
}
.___form .label {
    font-weight: 700;
    position: relative;
}
.___form .label::after {
    content:"";
    height: 1px;
    bottom: 0;
    left: 0;
    width: 100%;
    background: #000;
    position: absolute;
}
.___shadow {
    box-shadow:0 0 30px rgba(0,0,0,.05);
}
.form-group {
    margin-bottom: 2rem;
}
.form-control {
    height: auto;
    padding: .75rem 1rem;
    border: 1px solid #000;
    border-radius:0;
}
.form-control::-webkit-input-placeholder {
    color: #000;
}
.form-control::-moz-placeholder {
    color: #000;
    opacity: 1;
}
.form-control:focus, .form-control:active {
    border-color: var(--primary);
    box-shadow: 0 0 0 2px inset var(--primary);
}
.form-control:focus::-webkit-input-placeholder
 {
    color: var(--primary);
}
.form-check {
    padding-left: 1rem;
    cursor: grab;
}
.form-check .form-check-input {
    opacity: 0;
}
.form-check .form-check-label {
    cursor: grab;
}
.form-check .form-check-input ~ .form-check-label::before {
    content: "";
    width: 20px;
    height: 20px;
    background-color: #fff;
    border:1px solid #000;
    left: 0;
    position: absolute;
    border-radius: 0;
    cursor: grab;
}
.form-check .form-check-input:checked ~ .form-check-label::before {
    border-color: var(--primary);
}
.form-check .form-check-input[type=radio] ~ .form-check-label::before {
    border-radius: 100px;
    cursor: grab;
}
.form-check .form-check-input:checked ~ .form-check-label {
    color: var(--primary);
}
.form-check .form-check-input ~ .form-check-label::after {
    content: "";
    width: 19px;
    height: 19px;
    background: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8' viewBox='0 0 8 8'%3e%3cpath fill='%23fff' d='M6.564.75l-3.59 3.612-1.538-1.55L0 4.26l2.974 2.99L8 2.193z'/%3e%3c/svg%3e");
    background-position: center;
    background-repeat: no-repeat;
    background-color: var(--primary);
    left: 0;
    top: 0;
    position: absolute;
    border-radius: 4px;
    transition: .2s ease-in-out;
}
.form-check .form-check-input:not(:checked) ~ .form-check-label::after {
    transform: scale(0);
}
.form-check .form-check-input[type=radio] ~ .form-check-label::after {
    background: #fff;
    border: 7px solid var(--primary);
    border-radius: 100px;
}
.form-check .form-check-input:disabled ~ .form-check-label::before {
    background: #eee;
}
.select2-container--default .select2-selection--single {
    height: auto;
    padding: .6rem 2rem .6rem .75rem;
    border: 1px solid #000;
    border-radius: 0;
}
.select2-container--default .select2-selection--single:focus {
    outline: none;
    border-color: var(--primary);
    box-shadow: 0 0 0 2px var(--primary);
}
.select2-container--default .select2-selection--single .select2-selection__arrow {
    top: calc(50% - 13px);
    right: 5px;
}
.select2-dropdown {
    border:none;
    box-shadow: 0 1px 3px rgba(50,50,93,.15), 0 1px 0 rgba(0,0,0,.02);
    padding: .4rem;
}
.select2-container--default .select2-search--dropdown .select2-search__field {
    border:2px solid #000;
    outline:none;
}
.select2-results__option {
    padding: 6px 12px;
    border-radius: 4px;
}
.select2-container--default .select2-results__option--highlighted[aria-selected] {
    background: var(--primary);
}
.___rad {
    border-radius:10000px;
}
.___rad-ul {
    border-radius: var(--main-radius);
}
.___blur {
    backdrop-filter: blur(30px);
    -webkit-backdrop-filter: blur(30px);
}
.___header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 999;
}
.___header .navbar-toggler {
    display: inline;
    color: #fff;
    padding: 0;
    width: 35px;
    height: 35px;
    position: relative;
    outline: none;
    overflow: hidden;
}
.___header .navbar-toggler span {
    height: 2px;
    background: #fff;
    display: block;
    position: absolute;
    transition: all .22s ease-in-out;
}
.___header .navbar-toggler span:nth-child(1) {
    width: 35px;
    top: 15%;
}
.___header .navbar-toggler[aria-expanded='true'] span:nth-child(1) {
    transform: translateY(7px);
}
.___header .navbar-toggler span:nth-child(2) {
    width: 27px;
    left: 8px;
    top: calc(50% - 1px);
}
.___header .navbar-toggler[aria-expanded='true'] span:nth-child(2) {
    transform: translateX(-35px);
    width: 35px;
    left: 0;
}
.___header .navbar-toggler span:nth-child(3) {
    width: 23px;
    left: 13px;
    bottom: 15%;
}
.___header .navbar-toggler[aria-expanded='true'] span:nth-child(3) {
    left: 0;
    width: 35px;
    left: 0;
    transform: translateY(-7px);
}
.___header .navbar-collapse {
    background: #050505;
    position: fixed;
    right: 0;
    bottom: 0;
    transition: all .2s ease-in-out;
    overflow: auto;
    scrollbar-width: 0;
}
.___header .navbar-collapse::-webkit-scrollbar {
    width: 0;
    height: 0;
}
.___header .navbar-nav .nav-link {
    color: #fff;
    font-family: var(--font);
    font-weight: 500;
}
.___header .navbar-nav .nav-link p {
    font-size: 16px;
    color: #56555f;
}
.___header .navbar-nav .nav-link:hover {
    color: var(--primary);
}
.___header .navbar-collapse:not(.show) {
    transform: translateX(30vw);
    display: inherit;
    bottom: 0;
    height: auto!important;
}
.___header .navbar-collapse:not(.show) {
    transform: translateX(var(--width));
}
.___header .dropdown-menu {
    background: transparent;
    transition: all 3s ease-in-out;
    overflow: hidden;
    display: inherit;
}
.___header .dropdown-menu:not(.show) {
    height: 0;
}
.___header .dropdown-menu .dropdown-item {
    color: #fff;
    padding: .5rem 0;
    transition: all .3s ease-in-out;
}
.___header .dropdown-menu:not(.show) .dropdown-item {
    transform: translateY(-100px);
}
.___header .dropdown-menu .dropdown-item:hover {
    color: var(--primary);
    background: transparent;
}
.___front-banner {
    z-index: 1;
    color: #fff;
    background: var(--bg);
    background-size: cover;
    background-color: var(--primary);
    background-blend-mode: luminosity;
    height: 100vh;
    align-items: stretch;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.___front-banner::before {
    content: "";
    position: absolute;
    background: rgba(0, 0, 0, .7);
    top: 0;
    left: 0;
    z-index: 2;
    height: 100%;
    width: 100%;
}
.___front-banner h2 {
    font-weight:400;
    text-transform: uppercase;
    font-size: 18px;
    letter-spacing: 1px;
}
.___front-banner .container {
    z-index: 3;
}
.___front-banner .___copyright {
    z-index: 3;
    position: absolute;
    bottom: 3rem;
    right: 3rem;
    color: #fff;
    padding: .5rem 1rem;
    background: rgba(0, 0, 0, .2);
    border-radius: 100px;
    -webkit-backdrop-filter: blur(30px);
    backdrop-filter: blur(30px);
}
.___front-banner .___front-body {
    align-items: center;
    display: flex;
    flex-grow: 1;
    flex-shrink: 0;
}
.___front-banner .___front-body .container {
    flex-grow: 1;
    flex-shrink: 1;
}
.___partners .___partners-card {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.___partners {
    background: #f1f1f1;
}
.___partners .___partners-card img {
    display: inline-block;
    max-height: 60px;
    margin: 0 10px;
}
.___partners .___partners-card img:not(:hover) {
    filter: grayscale();
}
.___people .card {
    border: none;
    border-radius: 0;
    background: var(--bg);
    background-size: cover;
    background-position: center;
    background-color: #fff;
    background-blend-mode: luminosity;
    height: 300px;
    position: relative;
    overflow: hidden;
    color: #000;
    text-decoration: none;
}
.___people .card .card-body {
    transition: .3s ease-in-out;
    padding-bottom: 2rem;
    box-shadow: 0 0 0 2px inset #000;
    background: #fff;
}
.___people .card:hover .card-body {
    background: rgba(0, 0, 0, .2);
    color: transparent;
}
.___people .card .card-body .card-text {
    position: absolute;
    bottom: 1rem;
}
.___images {
    margin-top: 1rem;
    display: block;
    list-style: none;
}
.___images .face {
    width: 5rem;
    height: 5rem;
    display: inline-block;
    margin-left: -1rem;
    border-radius: 50%;
    border: 4px solid #fff;
    line-height: 1;
    box-sizing: content-box;
    background-color: #e6f1f8;
}
.___images .face img{
    -o-object-fit: cover;
    object-fit: cover;
    border-radius: 50%;
    height: 100%;
    width: 100%;
}
.___footer {
    background: var(--primary);
    font-family: var(--font);
    font-weight: 700;
}
.___footer a {
    color: #050505;
}
.___footer a:not(.btn):hover {
    color: #050505;
    text-decoration: none;
    box-shadow: 0 2px 0 0 #050505;
}
.page-link {
    border:2px solid #000;
    font-weight:700;
    color: #000;
}
.page-link:hover {
    color: var(--primary);
    border-color: #000;
    background: #000;
}
.page-item:first-child .page-link,.page-item:last-child .page-link {
    border-radius: 0;
}
.page-item:not(:last-child) .page-link {
    border-right: 0;
}
.___custom .list-group-item {
    border: none;
    background: transparent;
    border-bottom:1px solid #f1f1f1;
}
.___custom .list-group-item a {
    color: #000;
    font-weight: 700;
}
.___custom .list-group-item:last-child {
    border-bottom: 0;
}
.___custom .list-group-item:last-child,.___custom .list-group-item:first-child {
    border-radius: 0;
}
/* Altert */
.alert {
    border-radius: 0;
    border: 1px solid var(--grey);
}
@media (min-width: 1200px) {
    .___footer .container {
        max-width: inherit;
        width: auto;
        margin: 0 3rem;
    }
}
@media (min-width:992px) {
    .section {
        padding: 2rem 0;
    }
    .section.is-medium {
        padding: 4rem 0;
    }
    .trans .navbar-brand {
        color: #fff;
    }
    .___header:not(.trans), .trans.active {
        background: #050505;
    }
    .___header.foot {
        background: transparent!important;
    }
    .___header {
        padding: 1rem 3rem;
    }
    .___header .navbar-collapse {
        --width:35vw;
        width: var(--width);
        padding: 7rem 0;
        top: 0;
    }
    .___header .navbar-nav .nav-link {
        font-size: 1.5rem;
        padding: .5rem 3rem;
        position: relative;
    }
    .___header.foot .navbar-brand {
        color: #000;
    }
    .___header.foot .navbar-toggler[aria-expanded=false] span {
        background: #000;
    }
    .___header .dropdown-menu {
        padding: 0 3rem;
    }
    .___front-banner .___front-body {
        padding: 0 3rem;
        max-width: 60vw;
    }
    .___front-banner h1 {
        font-size:4rem;
    }
    .___partners .container {
        max-width: 950px;
    }
    .___partners .___partners-card {
        display: inline-flex;
        margin-top: 1rem;
    }
    .___why small {
        font-weight: 500;
        letter-spacing: 2px;
    }
    .___why h1 {
        font-weight: 800;
        line-height: 1;
        font-size: 48px;
    }
    .___why .subtitle {
        font-size: 1.3rem;
    }
    .___people .card .card-body {
        width: 100%;
        height: 100%;
    }
    .___people .card .card-body .card-title {
        font-size: 35px;
    }
    .mw-900 {
        max-width: 900px;
    }
    .___footer ul {
        list-style: none;
        padding: 0;
        display: block;
    }
    .___footer ul li {
        float: left;
    }
    .___footer ul li:not(:last-child) {
        margin-right: 1rem;
    }
    .___footer .widget {
        padding: 5rem 0;
    }
    .___footer .widget h2 {
        font-size: 4rem;
    }
}
@media (max-width:991px) {
    .section {
        padding: 1.5rem 0;
    }
    .___header {
        background: #050505;
    }
    .___header .navbar-collapse {
        padding: 2rem;
        --width:100vw;
        width:var(--width);
    }
    .___header .navbar-nav .nav-link {
        font-size: 1.25rem;
        position: relative;
    }
    .___header .navbar-nav .nav-link::before {
        content: "";
        width: 0;
        background: #fff;
        height: 2px;
        position: absolute;
        bottom: 0;
        left: 0;
        transition: .2s ease-in-out;
    }
    .___header .navbar-nav .nav-link:hover::before {
        width: 100%;
        background: var(--primary);
    }
    .___header .navbar-toggler {
        width: 30px;
        height: 30px;
    }
    .___people .col-6 {
        margin-bottom: 4px;
    }
    .___people .card {
        background-size: cover;
        margin: 2px;
    }
    .___people .card h1 {
        font-size: 24px;
    }
    .___people .card .card-body {
        padding-bottom: 5rem;
    }
    .___partners .___partners-card {
        max-width: 100vw;
        overflow-x: auto;
        scrollbar-width: 0;
    }
    .___partners .___partners-card::-webkit-scrollbar {
        height: 0;
    }
    .___partners .___partners-card img {
        max-height: 50px;
    }
    .___front-banner {
        background-position: center;
    }
    .___front-banner .container {
        margin:0 1rem;
    }
    .___footer {
        padding: 4rem 1rem;
    }
    .___footer .widget {
        margin-bottom:3rem;
    }
    .___footer ul {
        padding: 3rem 0;
        list-style: none;
        border-bottom:2px solid #000;
        border-top:2px solid #000;
    }
}